src/main/resources/org/charvolant/argushiigi/server/argushiigi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://data.travellerrpg.com/ontology/argushiigi#"
  elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
  xmlns:ag="http://data.travellerrpg.com/ontology/argushiigi#">

  <annotation>
    <documentation>A schema for the XML generated by the XmlRenderer
    </documentation>
  </annotation>
  <element name="resource">
    <complexType>
      <sequence>
        <element ref="ag:category" />
      </sequence>
      <attribute ref="ag:name" />
      <attribute ref="ag:uri" />
      <attribute ref="ag:href" />
      <attribute ref="ag:base" />
    </complexType>
  </element>

  <element name="category">
    <complexType>
      <sequence>
        <element ref="ag:category" minOccurs="0" maxOccurs="unbounded" />
        <element ref="ag:property" minOccurs="0" maxOccurs="unbounded" />
      </sequence>
      <attribute ref="ag:name" />
      <attribute ref="ag:id" />
    </complexType>
  </element>

  <element name="property">
    <complexType>
      <sequence>
        <element ref="ag:key" minOccurs="1" maxOccurs="1" />
        <element ref="ag:value" minOccurs="1" maxOccurs="1" />
      </sequence>
      <attribute name="direct" type="boolean" />
    </complexType>
  </element>


  <element name="key">
    <complexType mixed="true">
      <sequence>
        <element ref="ag:link" minOccurs="0" maxOccurs="unbounded" />
      </sequence>
      <attribute ref="ag:name" />
    </complexType>
  </element>

  <element name="value">
    <complexType mixed="true">
      <sequence>
        <element ref="ag:link" minOccurs="0" maxOccurs="unbounded" />
      </sequence>
      <attribute ref="ag:name" />
    </complexType>
  </element>

  <element name="link">
    <complexType mixed="true">
      <sequence>
        <element ref="ag:link" minOccurs="0" maxOccurs="unbounded" />
      </sequence>
      <attribute ref="ag:uri" />
      <attribute ref="ag:href" />
      <attribute name="external" type="boolean" />
    </complexType>
  </element>

  <attribute name="id" type="ID"></attribute>

  <attribute name="name" type="string"></attribute>

  <attribute name="uri" type="anyURI"></attribute>

  <attribute name="href" type="anyURI"></attribute>

  <attribute name="base" type="anyURI"></attribute>

</schema>